In [4]:
import pandas as pd
from datetime import date
from covid_registry import CovidRegistry
import time

Dia 6 de maio:

In [5]:
d = date(2020, 5, 6)
reg = CovidRegistry()
await reg.connect()
res = await reg.query(date=d)
await reg.close()

In [6]:
res

,Date,State,City,Age,Gender,Place of Death,Cause,#
0,2019-05-06,RJ,Rio de Janeiro,< 9,M,HOSPITAL,OUTRAS,4
1,2020-05-06,RJ,Rio de Janeiro,< 9,M,HOSPITAL,SEPTICEMIA,1
2,2019-05-06,RJ,Rio de Janeiro,20 - 29,M,HOSPITAL,OUTRAS,3
3,2020-05-06,RJ,Rio de Janeiro,20 - 29,M,HOSPITAL,OUTRAS,2
4,2020-05-06,RJ,Rio de Janeiro,20 - 29,M,HOSPITAL,COVID,1
...,...,...,...,...,...,...,...,...
59,2019-05-06,RJ,Rio de Janeiro,> 100,M,HOSPITAL,PNEUMONIA,1
60,2020-05-06,RJ,Rio de Janeiro,> 100,M,HOSPITAL,COVID,2
61,2020-05-06,RJ,Rio de Janeiro,> 100,M,HOSPITAL,PNEUMONIA,1
62,2020-05-06,RJ,Rio de Janeiro,10 - 19,M,HOSPITAL,OUTRAS,1
63,2020-05-06,RJ,Rio de Janeiro,30 - 39,M,HOSPITAL,COVID,3

Vamos fazer um dump dos dados relativos à região metropolitana do Rio de Janeiro no mês de maio:

In [7]:
grande_rio = [
    'Rio de Janeiro',
    'São Gonçalo',
    'Duque de Caxias',
    'Nova Iguaçu',
    'Niteroi',
    'Belford Roxo',
    'São João de Meriti',
    'Mage',
    'Itaborai',
    'Mesquita',
    'Nilópolis',
    'Maricá',
    'Queimados',
    'Itaguai',
    'Japeri',
    'Seropedica',
    'Guapimirim',
    'Paracambi',
    'Tanguá',
]

In [12]:
epoch = time.time()

async with CovidRegistry() as reg:
    dates = pd.date_range(start='20200501', end='20200524')
    dataf, failures = await reg.dump(dates, states=['RJ'], cities=grande_rio)
    
print(f'It took {time.time()-epoch:#0.2f} seconds')

Number of coroutines: 4560
It took 430.14 seconds

In [13]:
len(failures)

827

In [14]:
dataf

,Date,State,City,Age,Gender,Place of Death,Cause,#
0,2019-05-01,RJ,Rio de Janeiro,< 9,M,HOSPITAL,OUTRAS,1
1,2019-05-01,RJ,Rio de Janeiro,< 9,M,HOSPITAL,PNEUMONIA,1
2,2019-05-01,RJ,Rio de Janeiro,10 - 19,M,HOSPITAL,OUTRAS,1
3,2020-05-01,RJ,Rio de Janeiro,10 - 19,M,HOSPITAL,OUTRAS,2
4,2019-05-01,RJ,Rio de Janeiro,20 - 29,M,HOSPITAL,SEPTICEMIA,1
...,...,...,...,...,...,...,...,...
7522,2020-05-24,RJ,Itaguai,70 - 79,M,DOMICILIO,INDETERMINADA,1
7523,2019-05-24,RJ,Japeri,80 - 89,F,DOMICILIO,OUTRAS,1
7524,2019-05-24,RJ,Seropedica,80 - 89,M,DOMICILIO,OUTRAS,1
7525,2019-05-24,RJ,Guapimirim,50 - 59,F,HOSPITAL,OUTRAS,1
7526,2019-05-24,RJ,Tanguá,60 - 69,M,HOSPITAL,OUTRAS,1

Vamos tentar consolidar os dados de óbitos no Rio de Janeiro do dia 4 ao dia 8 de maio em um DataFrame: